body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    background-color: black;
}
label{
    display: block;
    font-size: 0.6rem;
    margin-bottom: 0.25rem;
}

input{
    margin-bottom: 2rem;
    border: 1px solid #dee2e6;
    height: 1.2rem;
}

input:focus{
    outline: 1px solid blue;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}






.main-container,
.main-container-left,
.main-container-right{
    display: flex;
}

.main-container-left,
.main-container-right{
    flex-direction: column;
}

.main-container{
height: 100vh;
width: 70%;
}


.main-container-left{
    background-image: url("./pictures/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    

}

.main-container-right{
    background-color: #e9ecef;
}

.odin-logo{
    width: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.odin-text{
    font-size: 4rem;
    color: white;
}

.odin-logo-background{
    margin-top: 10rem;
    background-color: rgb(0,0,0, 0.5);
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    
    
    
}

.photo-credit{
    margin-top: auto;
    color: white;
    font-size: 0.8rem;
}

.pre-form-texts{
    margin-top: 3rem;
    font-weight: 500;

}

.form-container{
    background-color: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.sign-up-form{
    display: flex;
    gap: 2rem
}

.form-first-column,
.form-second-column{
    display: flex;
    flex-direction: column;
    
}

.submit-container,
.form-container,
.pre-form-texts{
    
    padding-left: 2rem;
    padding-right: 10rem;
}

.submit-container{
    margin-top: 2rem;
}

.password-warning{
    position: absolute;
    bottom: 0;
}