body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
label{
    display: block;
    font-size: 0.6rem;
}

input{
    margin-bottom: 2rem;
}

.main-container-left,
.main-container-right{
    display: flex;
}

.main-container-left,
.main-container-right{
    flex-direction: column;
}


.main-container-left{
    background-image: url("./pictures/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    align-items: center;
    

}

.odin-logo{
    width: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.odin-text{
    font-size: 6rem;
    color: white;
}

.odin-logo-background{
    margin-top: 10rem;
    background-color: rgb(0,0,0, 0.5);
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.photo-credit{
    margin-top: auto;
    color: white;
}

.pre-form-texts{
    margin-top: 4rem;

}

.form-container{
    background-color: rgb(0,0,0, 0.1);
}

.sign-up-form{
    display: flex;
    gap: 2rem
}

.form-first-column,
.form-second-column{
    display: flex;
    flex-direction: column;
    
}

.submit-container,
.form-container,
.pre-form-texts{
    
    padding-left: 2rem;
    padding-right: 6rem;
}